<generator limit="100">
    <num factor="5">1.2</num>
    <num factor="8">1.8</num>
    <num factor="13">2.3</num>

    <preset year="2011" month="3" limit="1000">
        <num factor="5">3.1</num>
        <num factor="3">5.2</num>
        <num factor="2">8.3</num>
        <num factor="8">13.4</num>
        <num factor="8">21.5</num>
        <num factor="8">34.6</num>
    </preset>
    <preset year="2011" month="4" limit="100">
        <limit day="2">+50</limit>

        <num factor="3">1.2</num>
        <num factor="5">2.3</num>
        <num factor="2">4.1</num>
    </preset>
</generator>
